#page .container {
    background-image: url(../../images/layout/shadow-2-cols-l-s.gif);
    background-repeat: repeat-y;
}

.col_1 {
    position: relative;
    float: left;
    width: 719px;
}

.col_2 {
    position: relative;
    float: left;
    width: 260px;
    margin-left: 1px;
}

.col_2 #quiz{
    padding: 20px;
    border-bottom: solid 1px #999;
    display:none;
}

.col_2 #quiz .question{
    padding-bottom:7px;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    line-height:20px;
}

.col_2 #quiz .follow_up{
    padding-bottom:7px;
    font-family:Arial;
    font-size:12px;
    line-height:20px;
}

.col_2 #quiz .question .title{
    color:#0C478B;
    display:inline;
    margin-right:5px;
}

.col_2 #quiz .answer{
    padding-bottom:8px;
    font-family:Arial;
    font-size:11px;
}

.col_2 #quiz .send input{
    background-color:#FFAA00;
    color:#0C478b;
    text-shadow:white 1px 1px;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    padding: 4px 8px 4px 8px;
    border-width:1px;
    margin-left:150px;
}

.col_2 #quiz span{
    display:block;
}

.sub_cols.shadow {
    background-image: url(../../images/layout/shadow-2-cols-l-s-sub.gif);
    background-repeat: repeat-y;
    margin-top: -19px;
    padding-top: 19px;
    margin-bottom: -19px;
    padding-bottom: 19px;
}

.sub_col_1 {
    float: left;
    width: 200px;
}

.sub_col_2 {
    float: left;
    padding-left: 20px;
    width: 480px;
}
